<div id="oi-popup" class="bemvindo-box" role="dialog" aria-labelledby="popup-title" aria-describedby="popup-content">
    <div class="info-content">
        <h2 id="popup-title"><strong>Olá!</strong></h2>
        <p id="popup-content">Este site reúne alguns dos trabalhos produzidos pelos estudantes da Licenciatura Intercultural Indígena da UNIFESP em 2024. Clique nas localizações das aldeias para assistir aos vídeos das crianças mostrando o seu cotidiano, conhecimentos, brincadeiras e comunidades. Um convite para conhecer a diversidade dos povos originários de São Paulo.</p>
        <button id="close-popup" aria-label="Fechar popup de boas-vindas">Fechar</button>
    </div>
 </div>
 