/* Configurações Gerais */
body {
    background-color: #000;
    color: #fff;
    font-family: 'Cinzel', sans-serif;
}

.intro-text {
    font-size: 16px;
    margin: 0;
    padding: 10px;
    background: #1c1c1c; /* Tom mais claro */
    color: #ffffff;
    text-align: center;
}

.container {
    margin-top: 50px;
}

/* Estilo dos vídeos e informações */
.video-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Estilo dos itens de vídeo */
.video-item {
    margin: 20px;
    width: 100%;
    max-width: 600px;
}



.bg-variant {
    background: #001a09; /* Tom mais claro */
}

/* Informações do professor */
.professor-info {
    text-align: center;
    padding: 10px;
    background: rgba(0, 76, 0, 0.201);
    color: #c7ffd9;
    border-radius: 0 0 0 0;
}

.professor-img {
    width: 80;
    border-radius: 20%;
    margin-bottom: 5px;
  }

/* Estilo para o iframe */
.video-item iframe {
    width: 100vw;
    height: 315px;
    border: none;
}

/* Responsividade */
@media (max-width: 768px) {
    .video-box {
        width: 100%;
    }
    .video-item iframe {
        height: 250px;
    }
}

@media (max-width: 576px) {
    .video-item iframe {
        height: 200px;
    }
}

.navbar-brand {
    font-size: 24px; /* Tamanho normal para desktops */
    white-space: nowrap; /* Evita quebra de linha */
    overflow: hidden; /* Oculta o excesso de texto */
    text-overflow: ellipsis; /* Adiciona reticências (...) caso o texto seja muito longo */
    }
    
    /* Ajuste para telas pequenas (celulares) */
    @media (max-width: 600px) {
    .navbar-brand {
    font-size: 14px; /* Diminui o tamanho da fonte para telas pequenas */
    white-space: normal; /* Permite a quebra de linha se necessário */
    word-wrap: break-word; /* Garante que o texto seja quebrado corretamente */
    }
    }
    
    
    .container {
        flex-grow: 1; /* Força o conteúdo a ocupar todo o espaço disponível */
    }